.editor {
	@include r(1200) {
		br {
			display: none;
		}
	}
	&--contacts {
		margin-bottom: rem(75);
	}
	&--single {
		padding-left: rem(30);
		@include r(1200) {
			padding-left: 0;
			margin-bottom: rem(50);
		}
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		margin-bottom: 1.5rem;
	}
	h1 {
		font-size: rem(48);
		@include r(1200) {
			font-size: rem(40);
		}
	}
	h2 {
		font-size: rem(40);
		@include r(1200) {
			font-size: rem(32);
		}
	}
	h3 {
		font-size: rem(32);
		@include r(1200) {
			font-size: rem(26);
		}
	}
	h4 {
		font-size: rem(26);
		@include r(1200) {
			font-size: rem(20);
		}
	}
	h5 {
		font-size: rem(20);
		@include r(1200) {
			font-size: rem(18);
		}
	}
	h6 {
		font-size: rem(18);
		@include r(1200) {
			font-size: rem(16);
		}
	}
	strong, b {
		font-weight: 700;
	}
	p {
		margin-bottom: 1.5rem;
	}
	& :last-child {
		margin-bottom: 0;
	}
	a {
		&:hover {
			opacity: 0.7;
		}
	}
	i {
		font-style: italic;
	}
	blockquote {
		margin-bottom: 1.5rem;
		color: $blue;
		margin-left: rem(30);
		position: relative;
		padding-left: rem(25);
		font-size: rem(20);
		@include r(1200) {
			margin-left: 0;
			padding-left: rem(20);
			font-size: rem(16);
		}
		&:before {
			position: absolute;
			left: 0;
			top: 0;
			height: rem(56);
			width: rem(6);
			background-color: $blue;
			display: block;
			content: "";
		}
	}
	img {
		display: block;
		height: auto;
		max-width: 100%;
		margin-bottom: 1.5rem;
	}
}