.mob-menu {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	display: flex;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s all;
	&--open {
		opacity: 1;
		visibility: visible;
	}
	&__content {
		background-color: $light;
		width: 80%;
		max-width: rem(460);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: rem(20);
		text-align: center;
	}
	&__header {
		display: flex;
		justify-content: center;
	}
	&__main {

	}
	&__footer {

	}
	&__link {
		display: block;
		font-size: rem(20);
		margin-bottom: 1rem;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}