.nav {
	display: flex;
	align-items: center;
	&--header {
		@include r(1200) {
			display: none;
		}
		.nav__link-section {
			border-right: 1px solid $blue;
			&--last {
				border: none;
			}
		}
	}
	&--footer {
		margin-bottom: rem(22);
	}
	&__title {
		margin-right: rem(60);
		@include r(1800) {
			margin-right: rem(40);
		}
	}
	&__link-section {
		padding: 0 rem(15);
		display: block;
		&:hover {
			opacity: 0.7;
		}
	}
	&__link {
		margin-left: rem(65);
		display: block;
		@include r(1800) {
			margin-left: rem(40);
		}
		&:hover {
			opacity: 0.7;
		}
	}
}