.item-article {
	display: block;
	width: calc(100% / 3 - 30px);
	&--clear {
		height: 0;
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
	}
	&__picture {
		height: rem(400);
		display: block;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		position: relative;
		padding: rem(35) rem(30);
		&:before {
			content: "";
			display: block;
			background-color: $blue;
			width: rem(6);
			height: rem(96);
			left: rem(10);
			position: absolute;
			top: rem(-40);
		}
	}
	&__date {
		color: $blue;
		display: block;
		font-weight: 400;
		margin-bottom: rem(14);
	}
	&__title {
		font-size: rem(40);
		font-weight: 500;
		margin-bottom: rem(14);
		line-height: 1.2;
	}
}