.item-article {
	display: block;
	width: calc(100% / 3 - 30px);
	@include r(1200) {
		width: 100%;
		margin-bottom: rem(60);
	}
	&--clear {
		height: 0;
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
	}
	&__picture {
		height: rem(400);
		display: block;
		@include r(1800) {
			height: rem(260);
		}
		@include r(1200) {
			display: block;
			max-width: rem(580);
			height: auto;
			width: auto;
			margin-bottom: rem(20);
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		position: relative;
		padding: rem(35) rem(30);
		@include r(1200) {
			padding: 0;
		}
		&:before {
			content: "";
			display: block;
			background-color: $blue;
			width: rem(6);
			height: rem(96);
			left: rem(10);
			position: absolute;
			top: rem(-40);
			@include r(1200) {
				display: none;
			}
		}
	}
	&__date {
		color: $blue;
		display: block;
		font-weight: 400;
		margin-bottom: rem(14);
		@include r(1200) {
			margin-bottom: rem(10);
		}
	}
	&__title {
		font-size: rem(40);
		font-weight: 500;
		margin-bottom: rem(14);
		line-height: 1.2;
		@include r(1200) {
			font-size: rem(22);
		}
	}
}