.item-person {
	text-align: center;
	&__thumb {
		overflow: hidden;
		border-radius: rem(350);
		display: block;
		margin-bottom: rem(16);
		max-width: rem(280);
		max-height: rem(280);
		margin-left: auto;
		margin-right: auto;
	}
	&__img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		display: block;
	}
	&__name {
		font-weight: 500;
		margin-bottom: rem(11);
	}
	&__position {
		margin-bottom: rem(8);
	}
	&__link {
		&:hover {
			opacity: 0.7;
		}
	}
}