.item-person {
	text-align: center;
	&__thumb {
		overflow: hidden;
		border-radius: rem(350);
		display: block;
		margin-bottom: rem(16);
		width: rem(218);
		height: rem(218);
		margin-left: auto;
		margin-right: auto;
		@include r(1800) {
			max-width: 100%;
			// width: rem(240);
			// height: rem(240);
		}
	}
	&__img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		display: block;
	}
	&__name {
		font-weight: 500;
		margin-bottom: rem(11);
	}
	&__position {
		margin-bottom: rem(8);
	}
	&__link {
		&:hover {
			opacity: 0.7;
		}
	}
}