.container {
	width: 100%;
	max-width: rem(1920);
	padding-left: rem(50);
	padding-right: rem(50);
	margin-left: auto;
	margin-right: auto;
	@include r(1800) {
		max-width: rem(1200);
		padding-left: rem(15);
		padding-right: rem(15);
	}
	& + .container {
		margin-top: rem(115);
		@include r(1200) {
			margin-top: rem(60);
		}
	}
	&--wrap {
		flex-wrap: wrap;
		justify-content: space-between;
		display: flex;
	}
	&--intro {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100vh;
		padding-bottom: rem(233);
		@include r(1200) {
			min-height: 0;
			padding-bottom: rem(180);
		}
	}
}