.about {
	display: flex;
	position: relative;
	width: calc(100% / 12 * 7 - 15px);
	padding-top: rem(62);
	padding-bottom: rem(70);
	margin-bottom: rem(100);
	@include r(1800) {
		width: 100%;
		padding-bottom: rem(0);
		margin-bottom: rem(60);
	}
	@include r(1200) {
		padding-top: 0;
	}
	&__thumb {
		flex-shrink: 0;
		width: rem(432);
		height: rem(432);
		overflow: hidden;
		border-radius: rem(30);
		color: $light;
		position: relative;
		margin-right: rem(30);
		z-index: 2;
		background-size: cover;
		// top: rem(-150);
		margin-top: rem(-150);
		@include r(1800) {
			width: rem(480);
			height: rem(480);
		}
		@include r(1200) {
			display: none;
		}
	}
	&__number {
		position: absolute;
		font-size: rem(80);
		font-weight: 300;
		right: rem(25);
		top: rem(90);
	}
	&__content {

	}
	&__discript {
		color: $blue;
		margin-bottom: rem(13);
	}
	&__title {
		font-size: rem(40);
		margin-bottom: rem(20);
		font-weight: 700;
		line-height: 1.2;
	}
	&__text {
		p {
			margin-bottom: 1rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}