.btn {
	border: 2px solid $blue;
	font-size: rem(20);
	display: inline-block;
	padding: rem(15) rem(60);
	text-transform: uppercase;
	color: $blue;
	font-weight: 500;
	@include r(1200) {
		padding: rem(12) rem(30);
		font-size: rem(16);
	}
	&:hover {
		opacity: 0.7;
	}
}