.agreement {
	display: flex;
	margin-bottom: rem(32);
	cursor: pointer;
	&__icon {
		height: rem(16);
		width: rem(16);
		background-color: #009BFF;
		flex-shrink: 0;
		position: relative;
		margin-right: rem(11);
		display: flex;
		justify-content: center;
		align-items:center;
	}
	&__marker {
		display: block;
		height: rem(10);
		width: rem(14);
		opacity: 0;
		transition: 0.3s all;
	}
	&__field {
		display: none;
		&:checked {
			& + .agreement__icon {
				.agreement__marker {
					opacity: 1;
				}
			}
		}
	}
	&__text {
		font-size: rem(14);
		a {
			color: $blue;
			text-decoration: underline;
		}
	}
}