.title {
	position: relative;
	width: fit-content;
	margin-bottom: rem(37);
	display: block;
	color: inherit;
	text-decoration: none;
	&:after {
		content: "";
		display: block;
		background-color: #5E93FF;
		height: rem(10);
		width: 100%;
		position: absolute;
		bottom: 1.1rem;
		@include r(1200) {
			display: none;
		}
	}
	&--small {
		margin-bottom: rem(34);
		&:after {
			bottom: rem(12);
			@include r(1200) {
				display: none;
			}
		}
	}
	&__text {
		font-size: rem(60);
		font-weight: 600;
		position: relative;
		z-index: 2;
		@include r(1200) {
			font-size: rem(30);
		}
		&--small {
			font-size: rem(40);
			@include r(1200) {
				font-size: rem(24);
			}
		}
	}
}

.section--dark {
	.title:after {
		background-color: #3366CC;
	}
}