.link-top {
	display: flex;
	justify-content: flex-end;
	padding: rem(6);
	&--single {
		justify-content: space-between;
		padding-left: rem(30);
		@include r(1200) {
			padding-left: 0;
		}
	}
	&__btn {
		background-color: inherit;
		align-items: center;
		display: flex;
		&:hover {
			opacity: 0.7;
		}
	}
	&__icon-back {
		margin-right: rem(15);
		display: block;
		width: rem(27);
		height: rem(9);
	}
	&__icon-top {
		display: flex;
		width: rem(9);
		height: rem(27);
		margin-right: rem(15);
	}
	&__text {
		color: $blue;
	}
}