.intro-slider {
	padding-left: calc(100% / 12 * 7);
	@include r(1800) {
		margin-bottom: rem(45);
	}
	@include r(1200) {
		padding-left: 0;
		margin-bottom: 0;
	}
	&__slider {
		overflow: visible;
	}
	&__wrapper {
		margin-bottom: rem(40);
	}
	&__slide {
		width: rem(280);
		opacity: 0.6;
		&--active {
			opacity: 1;
		}
	}
	&__navigation {
		display: flex;
		align-items: center;
	}
	&__nav-btn {
		background: none;
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(28);
		height: rem(18);
		&:hover {
			opacity: 0.7;
		}
		&--left {

		}
		&--right {

		}
	}
	&__nav-text {
		text-align: center;
		text-transform: uppercase;
		margin-left: rem(20);
		margin-right: rem(20);
	}
	&__nav-icon {
		display: block;
		height: 100%;
		width: 100%;
	}
}