.intro {
	width: fit-content;
	max-width: calc(100% / 12 * 7);
	position: relative;
	top: rem(-50);
	@include r(1800) {
		top: 0;
		max-width: 100%;
	}
	@include r(1200) {
		order: -1;
		margin-bottom: rem(60);
	}
	&__title {
		font-weight: 700;
		margin-bottom: rem(9);
		font-size: rem(60);
		line-height: 1.1;
		position: relative;
		@include r(1200) {
			font-size: rem(36);
			margin-bottom: rem(14);
		}
		&:after {
			content: "";
			bottom: rem(13);
			display: block;
			width: 100%;
			left: 0;
			position: absolute;
			right: 0;
			height: rem(10);
			background-color: $blue;
			z-index: 1;
			@include r(1200) {
				// height: rem(6);
				// bottom: rem(2);
				display: none;
			}
		}
	}
	&__title-text {
		z-index: 2;
		position: relative;
	}
	&__discript {
		font-weight: 400;
		font-size: rem(24);
		@include r(1200) {
			font-size: rem(16);
		}
	}
}