.articles {
	width: 100%;
	padding-bottom: rem(115);
	&__line {
		margin: 0;
		background-color: $blue;
		border: none;
		height: 2px;
	}
	&__tag {
		color: $light;
		text-transform: uppercase;
		background-color: $blue;
		padding: rem(6) rem(18);
		width: fit-content;
		font-weight: 500;
		margin-bottom: rem(48);
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		margin-left: rem(-24);
		margin-right: rem(-24);
		&--between {
			justify-content: space-between;
		}
		@include r(1800) {
			
		}
		& + .articles__toolbar {
			margin-top: rem(60);
		}
	}
	&__item {
		width: calc(100% / 7);
		margin-bottom: rem(40);
		padding: 0 rem(24);
		@include r(1800) {
			width: 25%;
		}
	}
	&__toolbar {
		display: flex;
		justify-content: center;
	}
}