.articles {
	width: 100%;
	padding-bottom: rem(115);
	@include r(1200) {
		padding-bottom: 0;
		margin-bottom: rem(120);
		&:last-child {
			margin-bottom: rem(0);
		}
	}
	&__line {
		margin: 0;
		background-color: $blue;
		border: none;
		height: 2px;
	}
	&__tag {
		color: $light;
		text-transform: uppercase;
		background-color: $blue;
		padding: rem(6) rem(18);
		width: fit-content;
		font-weight: 500;
		margin-bottom: rem(48);
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		margin-left: rem(-24);
		margin-right: rem(-24);
		@include r(1800) {
			margin-left: 0;
			margin-right: 0;
		}
		&--between {
			justify-content: space-between;
			@include r(1200) {
				display: block;
			}
		}
		& + .articles__toolbar {
			margin-top: rem(60);
			@include r(1800) {
				margin-top: rem(30);
			}
		}
	}
	&__item {
		width: calc(100% / 7);
		margin-bottom: rem(40);
		padding: 0 rem(24);
		@include r(1800) {
			width: 25%;
		}
		@include r(860) {
			padding: 0 rem(12);
			width: calc(100% / 3);
		}
		@include r(580) {
			padding: 0 rem(12);
			width: 50%;
		}
		@include r(480) {
			width: 100%;
		}
	}
	&__toolbar {
		display: flex;
		justify-content: center;
	}
}